<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{% block title required %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
        {% block extraHead %}{% endblock %}
    </head>
    <body>
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        {% include "navbar.html" %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="my-4">{{ self.title() }}</h1>
                </div>

            </div>
            <noscript>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            Эта страница использует JavaScript для работы. Пожалуйста, включите JavaScript в вашем браузере.
                        </div>
                    </div>
                </div>
            </noscript>

            <div class="row">
                {% for message in get_flashed_messages() %}
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% block content required %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

        {% block extraFooter %}{% endblock %}


        <script>

            var round = null;
            var word = null;

            function processEvents(data){
                if(pagePhase){
                    if(data.phase != pagePhase){
                        switch(data.phase){
                            case 'waiting':
                                window.location.href = '/';
                                break;
                            case 'write-fake':
                                window.location.href = '/fakes';
                                break;
                            case 'guess-fake-for-word':
                                window.location.href = '/guess';
                                break;
                            case 'results':
                                window.location.href = '/results';
                                break;
                        }
                    }
                }
                if(round === null || word === null){
                    round = data.current_round;
                    word = data.current_word_index;
                    console.log(data);
                } else {
                    if(round != data.current_round){
                        window.location.reload(true);
                    }
                    if(word != data.current_word_index){
                        window.location.reload(true);
                    }
                }
            }
    
            function doPoll(){
                $.ajax({
                    url: "{{ url_for('get_events') }}",
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        processEvents(data);
                    }
                }).always(function(){
                    setTimeout(doPoll, 1000);
                });
            }
            doPoll();
            setInterval(doPoll, 5000);

        </script>


    </body>

</html>