{% extends "base.html" %}
    
{% block title %}Ввод обманок{% endblock %}
    
{% block content %}

<form action="{{ url_for('submit_fakes', htmlform='true') }}" method="post">
    <div class="row mb-3">
        <button type="submit" class="btn btn-success">Отправить все</button>
    </div>
    {% for word_id, word_text in words_list %}
    <div class="row mb-3">
        <label for="fake-input-{{word_id}}" class="input-group-text">Обманка для слова &nbsp;<span class="text-danger">{{word_text}}</span>:</label>
        <textarea autocomplete=off
        id="{{round_id}}-{{word_id}}-fake" name="{{round_id}}-{{word_id}}-fake"
        class="form-control" rows="3"
        placeholder="Обманка для слова {{word_text}}">{{g.team.memory[str(round_id) + '-' + str(word_id) + '-fake']}}</textarea>
    </div>
    {% endfor %}
    <div class="row mb-3">
        <button type="submit" class="btn btn-success">Отправить все</button>
    </div>
</form>
{% endblock %}

{% block extraFooter %}
<script>
    const pagePhase = 'write-fake';
</script>
{% endblock %}
